.table { border-collapse: collapse; text-align:center; padding:0; border:1px solid #0F0F0F;  margin:0 auto 10px; }
.table td {	border: 1px solid #090909; box-shadow: inset 1px 1px 0px 0px rgba(34, 34, 34, 1); text-align: center; padding: 10px; position: relative;}
.tag-i {font-style: italic}
.tag-b {font-weight: bold}

.table-monitor {width:100%;}
.table-monitor td:first-child { color:#f45c0e; font-weight:600;}
	
figure { display: block; float: right; margin: 0 0 10px 10px; text-align: center; padding: 10px; background: #202020;}
.table-deteil {width: 100%; float:left; position: relative;}
.table-deteil tr:nth-child(1) td {color:#f45c0e;}
.img {width: 340px; height: 255px; padding-bottom: 5px;}
div#players { min-height: 300px; width: 58%; position: relative;}

.table-top {width:100%;}
.table-top tr:nth-child(1) td {color:#f45c0e;}
.table-top tr:nth-child(2) td:nth-child(1) {background:url("/images/frontend/medal1.png") center center no-repeat; color: rgba(255, 255, 255, 0);}
.table-top tr:nth-child(3) td:nth-child(1) {background:url("/images/frontend/medal2.png") center center no-repeat; color: rgba(255, 255, 255, 0);}
.table-top tr:nth-child(4) td:nth-child(1) {background:url("/images/frontend/medal3.png") center center no-repeat; color: rgba(255, 255, 255, 0);}

/* blog */
.post, .post-deteil {background: #1c1c1c; padding: 10px; margin-bottom: 10px;}
.post h2 {font-size: 21px; font-weight: 600; margin-bottom:15px;}
.post-preview {margin-right: 10px; border: 5px solid rgba(0, 0, 0, 0.5); float: left; width: 160px; height: 110px;}
.post-preview:hover {border: 5px solid #000; -webkit-transition: border 0.7s ease;}
.post-date, .read-more{float: right; color: #555; font-weight: 600; position: static;}
.read-more {border:2px solid #ff7a36; margin-top:30px;}
.read-more a {text-decoration:none; padding:5px; display: block; color: #ff7a36; }
.read-more a:hover {color: #fff; -webkit-transition: background 0.7s ease;}
.read-more:hover {border:2px solid #555;} 
.post-deteil img, .page img {width:185px; height:185px; margin:0 10px 10px 0; float:left}
.post-date li {float:left; padding: 0 7px; border-right:1px dotted #4e4e4e;}
.post-date li:first-child {background: url("/images/frontend/view-icon.png") 3px 3px no-repeat;  padding-left: 25px;}
.post-date li:last-child {padding-right:0; border:none;}

tr .server-offline{text-align: right; color: red;}

.post-date ul{list-style: none; margin-left: 0;}

article .page-download ul {padding: 10px 0 10px 15px; list-style-image:url(/images/pages/1/marker3.png);  overflow: hidden;}
article .page-download ul li {padding: 0px 4px 0 0;}
article .page-download h2 {font-weight: 600}
article .page-download .style-h2 {font-weight: 600; font-size: 1.5em;}
article .page-download .strong {font-weight:600; color:#7E7E7E; font-size:14px;}
article ul.links {padding: 0 0 0 30px; line-height: 25px; font-size: 15px; }
/*article ul.links li:nth-child(1) {list-style-image:url(/images/pages/1/mark_tor.png);}*/
article ul.links li:nth-child(1) {list-style-image:url(/images/pages/1/mark_gd.png);}
article ul.links li:nth-child(2) {list-style-image:url(/images/pages/1/mark_ya.png);}
/*article ul.links li:nth-child(4) {list-style-image:url(/images/pages/1/mark_db.png);}*/
article ul.links li {padding: 0px 6px 0 0;}

article form { overflow: hidden; clear: both;}
article form input {width: 240px; height: 30px; background: #1C1C1C; border: none; font-family: 'Open Sans', sans-serif; color: #777; padding-left:10px;}
article form input[type="text"]::-webkit-input-placeholder { color: #555; opacity:1; }
article form input:focus[type="text"]::-webkit-input-placeholder {opacity:0;}
article form input[value="Save"] {width: 49%; margin-top: 10px; cursor: pointer; background: none; border: 2px solid #0F293A; color: #1E79B3; padding:0;}
article form input[value="Save"]:hover {border: 2px solid #fff; color: #fff}
article form a.steam_id {width: 49%; margin-top: 10px; cursor: pointer; background: none; border: 2px solid #0F293A; padding: 4px 0 4px 0; text-align: center;}
article form a.steam_id:hover {border: 2px solid #fff; color: #fff}
article form input.error { background: #0E1F2A; color: #fff;}
article .errorSummary, .success {display:inherit; margin-top: 10px;}
article .errorSummary ul {list-style: square; color:#ff0000;}

article .page-download .download-image {float:left; margin-right:28px; width:365px; height: 627px;}

/* bans */
.table-ban {width: 100%;}

.table-ban tr:first-child td {color: #f45c0e;}
.ban-time {color:#FF8649}
.no-nick{color: #716660;}

article .user_page .left_part {display: inline-block; padding-left: 10px;}
article a.steam_id {float:right; text-decoration: none; color: #1E79B3;}
article a.user_activity {text-decoration: none; color: #1E79B3;}
article .left_part img {display: block;}
article .left_part a.change_ava {padding: 7px 10px; display: block; text-align: center; margin-top: 10px; background: #145C88; color: #fff; text-decoration: none; border-bottom: 5px solid #0F3851;}
article .left_part a.change_ava:hover {background:#0F3851;}
article .left_part span.skype a {text-decoration:none;  text-align: left; background: url("/images/frontend/skype_icon.png") center left no-repeat; padding-left: 26px; height:18px; margin: 10px 0 0 0px; display: block;}
article .center_part {display:inline-block; margin-left: 30px;}
article .center_part h1 {font-size: 30px; font-weight: 600; padding:0;}
article .center_part span.user_status {color:#9d9d9d; font-size: 12px; position:relative;}
article .center_part span.user_status a:nth-child(1) {border-right: 1px dotted #4e4e4e; padding-right:10px;}
article .center_part span.user_status a:nth-child(2) {padding-left:6px;}
article .center_part table {margin-top: 20px; position: relative; width:400px;}
article .center_part table tr td {border-bottom: 1px dashed #4e4e4e; padding: 10px 0 10px 0px;}
article .center_part table tr td:nth-child(2) {text-align:right;}
article .center_part table tr td:nth-child(1) {padding:10px 0 10px 0;} 
article .center_part table tr td span a {color: #1E79B3; font-weight: 700;}

.range_icons {position: absolute; right: 2px; bottom: 10px; width: 63px; height: 20px;}
.range_icons span, .profile_range_icons span {float: right; padding: 0px 4px 0 4px; margin: 4px 2px; border: 1px solid #273742; color: #1E79B3; font-size: 11px; line-height: 1.3; cursor: pointer;}
.profile_range_icons {float: right; margin-top: 10px;}

.pay_pages h1, .sms_page h1, .pay_choose h1 {border-bottom: 1px solid #0F293A; margin-bottom: 20px; text-align: left;}
.pay_pages {text-align:center;}
.pay_pages form input {padding-left:20px; width: 230px; height: 35px;}
.pay_pages .next input[type="submit"], .next a, .back a, .n4 .button { cursor: pointer; background: none; border: 2px solid #0F293A; color: #1E79B3; padding: 5px 80px; width: auto; height: auto;}
.n4 .button {display: block; margin:20px 0 0 257px;}
.pay_pages .next input[type="submit"]:hover, .next a:hover, .back a:hover, .n4 .button:hover {border: 2px solid #fff; color: #fff}
.back a, .next a {text-decoration:none;}
.back, .next {display:inline-block; margin-top: 30px;}
.pay_choose .back {text-align:center; display: block;}
.sms_page .back { margin: -35px 0 0 87px;}

.pay_pages .left_part h1 {font-size:21px; border:none; margin-bottom: 7px;}
.pay_pages .left_part img {width:125px;}
.pay_pages .center_part table {margin-top:45px; background:#181818; padding:10px;}
.pay_pages .center_part table td {border:none;}
.pay_pages .center_part table tr td:nth-child(1) {text-align:left;}
.pay_pages .center_part table tr:first-child td {padding-top:0;}
.pay_pages .center_part table tr:last-child td {padding-bottom:0;}

.pay_pages .profile_range_icons {float:left; margin:0;}

.pay_system_box {display: inline-block; padding: 15px; background: #181818; box-shadow: 1px 1px 5px rgba(0,0,0,.75);}
.pay_system_box:hover {background:#101010; box-shadow:none;}
.pay_system_box a {text-decoration:none; text-transform:uppercase;}
.pay_system_box img, .pay_system_box span {display:block; text-align:center;}
.pay_system_box span {margin-top: 20px;}

/*vip_page*/
article table.vip { width: 100%; border-collapse: collapse;}
article table.vip tr td { text-align: center; padding: 10px; font-size: 15px;}
article table.vip tr td img {width: 170px; height: 170px; float:none; margin:0;}

#text { height: 300px;  }
#text > .nano-content { padding: 10px; }
#text > .nano-pane   { background: #1c1c1c; }
#text > .nano-pane > .nano-slider { background: #f45c0e; }
