html, body { background: #202020; font-size: 100%; color: #fff; max-width: 100%; font-family: 'Open Sans', sans-serif; font-size: 13px; min-height: 900px;}
body {border-top:10px solid #f45c0e; background: url("/images/frontend/bg-top.png") 10% 100px no-repeat, url("/images/frontend/bg-bottom.png") 85% 100% no-repeat; }
dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, blockquote { margin: 0; padding: 0; }
img { border: 0; vertical-align: top; }
*{vertical-align: top;}

a { color: #f45c0e; }
a:hover { text-decoration: none; }
a:focus { outline: none; }

input, textarea, select, button { font-size: 13px; color: #ccc; font-family: inherit; }
input:focus, textarea:focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

ul { margin: 0; padding: 0; list-style: none;}

.center {width:1200px; margin:0 auto; position: relative; }
.clear {clear:both;}

header {width:100%; background:#1c1c1c; margin-bottom: 15px;}
header .logotype {font-weight:800; line-height: 40px; margin: 15px 0px 24px; display: inline-block; text-align: center; position:relative;}
header .logo-text {display: inline-block; margin-right: 20px;}
header .logotype a {color:#fff; text-decoration: none; display: inline-block;}
header .logotype a span:first-child {font-size:56px; display: block;}
header .logotype a span:nth-child(2) {font-size:37px;}
header .logotype a img {width: 83px; height: 82px;}

header .right-main {display: block;}
header .left-box {display:inline-block; background:url("/images/frontend/steam_logo.png") 0% 100% no-repeat; padding: 10px 0px 0 60px;}
header .left-box ul li {float:left;}
header .left-box ul li span {display: block; margin: 5px 15px 0 0; text-decoration: none; color: #fff;}
header .left-box ul li span:hover {cursor: pointer; text-decoration:underline;}
header .right-box {float:right;}
header .right-box span {font-weight:800; font-size:21px; color:#aaa; padding-right:15px;}

header .under_box {margin-top: 0px;}
header .socio-icon {float:right;}
header .socio-icon a {margin-left:5px;}
header #lang-switcher {float: right; clear: both;}
header .language li {float: right;}
header .language li a {display: block; text-transform:uppercase; text-decoration:none; color:rgba(244, 92, 14, 0.2); padding: 5px; border: 1px solid rgba(244, 92, 14, 0.2); margin:10px 0 0 9px;}
header .language li a.active {color:#f45c0e; border: 1px solid #f45c0e;}
header .language li a:hover {color:#f45c0e; border: 1px solid #f45c0e;}

nav {display: inline-block; margin-top: -10px;}
nav ul li {padding: 10px; float:left; text-transform: uppercase; background:#f45c0e; position:relative;}
nav ul li a {color:#fff; text-decoration: none;}
nav ul li:hover {background:#1E79B3;}
/*nav ul li:nth-child(2) {background:#1E79B3;}*/
nav ul li:hover ul {display:block;}
nav ul li ul {position:absolute; z-index: 100; width: 180px; top:38px; left:0; display:none;}
nav ul li ul li {float:none; padding:10px; background:#555 !important;}
nav ul li ul li:hover {background:#1E79B3 !important;}
nav ul li ul li:hover a {color:#fff;}

header #search {background: #141414; width: 240px; height: 30px; margin-top: 10px; overflow: hidden; position: relative; float: right; clear: both;}
header #search input {width: 240px; height: 30px; background: none; border: none; padding-left: 30px; font-family: 'Open Sans', sans-serif; color: #777;}
header #search a {background: url("/images/frontend/search-icon.png") 0 center no-repeat; width: 14px; height: 25px; top: 3px; left: 7px; position: absolute;}
header #search input[type="text"]::-webkit-input-placeholder { color: #555; opacity:1; }
header #search input:focus[type="text"]::-webkit-input-placeholder {opacity:0;}

aside#aside-left {width:25%; background:#141414; float:left;}
aside ul li {padding:10px 0 10px 30px; background: url("/images/frontend/li-icon.gif") 7px 17px no-repeat;}
aside ul li:hover {background:#0e0e0e url("/images/frontend/li-icon.gif") 7px 17px no-repeat;}
aside ul li a {color:#fff; text-decoration:none;}
aside ul li a:hover {color:#f45c0e;}
#servers-info table tr:last-child td{font-weight: bold; font-size:14px; border-top: 1px dashed #4e4e4e;}
#servers-info table tr:last-child td:last-child{text-align: center}
#servers-info table tr:last-child td:first-child{color: #f45c0e}
#servers-info table tr:nth-last-child(2) td{padding-bottom: 15px;}
#servers-info table {width:100%; border-collapse: collapse; border-spacing: 0;}
#servers-info table tr td {padding:5px;}

article { background: #141414; padding: 20px; min-height: 743px; float: left; width:884px; margin-bottom: 15px; position:relative;}
article h1 {font-size:25px; font-weight:600; padding-bottom: 10px;}
article p {margin: 13px 0px 13px 0px;}
article ul {display: inline-block; list-style-image: url(/images/pages/1/marker3.png); margin: 10px 0 10px 20px;}
article:only-child {width: 1160px;}
article #text {overflow: hidden;}
article #text > p:last-child {margin-bottom: 0}
aside.aside-right {width: 246px; padding: 10px; background: #141414; float: right; margin-bottom: 10px;}

footer {width:100%; background:#1c1c1c; height:90px; float: none; clear: both; }
footer #footer{float: right;}
footer ul li{float:left; padding:10px;}
footer .logotype-f { font-weight:800; line-height: 27px; padding: 15px 71px 0px 0px; text-align: center; position:relative;}
footer .logotype-f a {color:#fff; text-decoration: none;}
footer .logotype-f a span:first-child {font-size:38px; display: block;}
footer .logotype-f a span:nth-child(2) {font-size:25px;}
footer img {width: 58px; height: 57px; position:absolute; top: 10px; right: 0px;}
footer p#copyright {float: left;}

@media screen and (max-width: 980px) {
   .center { width: 100% !important;}
   article { width: 61%; padding: 1% 2%; }
   aside.aside-right { width: 32%; padding: 1% 1%; margin-bottom: 15px;}
   aside.aside-right img {width: 100%;}
   figure {float: none !important;}
   .table-deteil {width: 100% !important;}
   header .right-under { margin-right:20px;}
   header .logotype {font-size: 80%; line-height: 33px;}
   header .logotype a img {width:80%; height:auto;}
   header .language li {margin-top: 8px;}
   header { height: auto; display: inline-block;}
   header .right-main{ padding-bottom: 10px; }
   
}

@media screen and (max-width: 650px) {
   header { height: auto; display: inline-block;}
   nav { position: static;}
   header .logotype { position: static;}
   article { width: auto; float: none; margin: 20px 0;}
   aside.aside-right { width: auto; float: none; margin: 0 0 15px 0;}
   header .right-main{ padding-bottom: 10px;}
   #servers-info table tr:last-child td:last-child {text-align: inherit;}
   
}

