.tooltip-content{
	display: none;
}
html {background: #303030;}
body {color: #fff; overflow:hidden; font-family: 'Open Sans', sans-serif; font-size: 13px; width:100%; margin:0 auto;}

.header { margin: 10px auto 0px; width: 90%;}

.table tr:nth-child(2n+1) td {background:#282828;}
.table { width:90%; margin: 0 auto;}
.table td{ text-align:center; padding: 5px 2px;}
.table td:first-child{ color:#FF9242; font-weight:600; }
.header h1 { padding: 20px 0px 10px 0; margin: 0; background: url("/images/motd/logo.png") 180px 0px no-repeat;}
