#smsbill_form {float:none; padding: 0 30px;}
select{width: 250px; height: 30px; background: url("/images/frontend/arrow_1.png") right no-repeat transparent; border: 2px solid #1C1C1C; font-family: 'Open Sans', sans-serif; color: #777; padding-left: 10px; overflow: hidden; -webkit-appearance: none; cursor:pointer;}
select:focus {outline: none;}
#smsbill_page_lang, .n1, .n2 { overflow: hidden;}
#smsbill_page_lang {position:absolute; top:10px; right:10px;}
label {line-height: 1; margin: 7px 0px; display: inline-block; width: 250px; padding-left: 50px;}
.n1, .n2 {margin: 20px 0px 7px 0px;}
.n3 img[src$="http://form.smsbill.com.ua/serviceform/loading.gif"] {display: none;}
#smsbill_code {margin: -3px 5px 5px; border-left: 7px solid #f0faff; border-right: 7px solid #f0faff;}
.quantity, .n3 {color:#1E79B3; font-size: 12px;}
.n3 {margin-top: 20px;}
.n4 { margin: 20px 0 10px;}
#model-form {background: url("/images/frontend/number_1.jpg") 0px 0px no-repeat;}
.n1 {background: url("/images/frontend/number_1.jpg") 0px 0px no-repeat;}
.n2 {background: url("/images/frontend/number_2.jpg") 0px 0px no-repeat;}
.n4 {background: url("/images/frontend/number_3.jpg") 0px 0px no-repeat;}
#model-form label a {background: url("/images/frontend/faq.png") 0px 0px no-repeat; width: 17px; height: 17px; display: inline-block; margin: -7px 0 0px 3px;}
#PaymentLog_steam_id {margin-left: -3px;}
/*.n4 .button {display: block; margin: 20px 0 0 300px; cursor: pointer; background: none; border: 2px solid #0F293A; color: #1E79B3; padding: 0; width: 250px;}*/
small {display:none;}
#smsbill_special {font-size: 12px;}
#short-profile {position: absolute; top: 108px; right: 36px; border-right: 3px solid #0F293A; padding-right: 10px; } 
#short-profile img {  width: 30px; padding-right:10px;}
#short-profile div {display:inline-block; color: #9d9d9d; line-height: 15px;}
#short-profile div span {font-weight:bold; display: block; color:#fff;}
select option { background: #1C1C1C; color: #fff;}
select option:hover { background: #0F293A; color: #fff; }
select {-moz-appearance:none;}
select::-ms-expand {display: none;}

.tooltip {
        position: relative;
        display: inline-block;
        cursor: help;
        white-space: nowrap;
}

.tooltip-content {
        opacity: 0;
        visibility: hidden;
        text-align: center;
		background:#10527E;
		color:#fff;
		border-radius: 10px;
        padding: 9px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -76px;
        transition: bottom .2s ease, opacity .2s ease;
        }

.tooltip-content:after,
.tooltip-content:before {
        border-right: 16px solid transparent;
        border-top: 15px solid #10527E;
        bottom: -15px;
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -10px;
}

.tooltip-content:before {
        border-right-width: 25px;
        border-top-color: #08334F;
        border-top-width: 15px;
        bottom: -15px;
}

.tooltip:hover .tooltip-content{
        opacity: 1;
        visibility: visible;
        bottom: 30px;
        font-weight: 600;
		font-size: 12px;
}