body {
    margin:0;
    padding: 0;
}


#containerTop {
    width: 720px;
    height: 423px;
    background-image: url("/images/updater/bg.jpg");
} 


#containerBottom {
    width: 720px;
    height: 200px;
    background-image: url("/images/updater/bg.jpg");
    background-position-y: bottom;
} 
